# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old

# Eclipse
.classpath
.project
.settings

com.gcc.urcap.motionBuilder/.settings/
com.gcc.urcap.motionBuilder/target/classes/
com.gcc.urcap.motionBuilder/target/test-classes/
com.gcc.urcap.motionBuilder/target/generated-sources/
com.gcc.urcap.motionBuilder/target/generated-test-sources/
com.gcc.urcap.motionBuilder/target/maven-status/
com.gcc.urcap.motionBuilder/target/surefire-reports/
